*{
    margin: 0;
    padding: 0;
}
footer{
    background-color: #131A22;
}
.links-wrapper > h3{
   font-size: 14px;
    padding: 0 40px 0;
    text-align: left;
    color:#DDD;
    margin: 5px 0 5px 10px;
    font-size: 0.95em;
    opacity: 0.8;
    font-family:Arial, Helvetica, sans-serif;
}
.links-wrapper >h3:hover{
    text-decoration: underline;
}
.all-links-wrapper .links-wrapper > h3:hover{
color: #999999;
}

footer ul li{
    text-align: left;
    margin: 5px 0 5px 20px;
    list-style: none;
    font-size: 0.90em;
    padding-bottom: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
footer ul li a{
    text-decoration:solid white;
    color: #999;
}

footer ul li a:hover{
    text-decoration:underline ;
    color: #999;
}

footer > .all-links-wrapper{
   
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.last-links-wrapper > h3{
    font-size: 14px;
    padding: 0 40px 0;
    text-align: left;
    color:#DDD;
    text-decoration: underline;
    margin: 5px 0 5px 10px;
    font-size: 0.95em;
    opacity: 0.8;

}
.last-links-wrapper li{
    text-align: left;
    margin: 5px 0 5px 20px;
    list-style: none;
    font-size: 0.90em;
}

.copyrigt-wraper {
justify-content:center;
    text-align: center;
    color:#999999;
 display: flex;
}
.copyrigt-wraper ul li a{
        color:#DDDDDD;
    }
    .copyrigt-wraper ul {
        padding-bottom: 0;
        margin-bottom: 0;
    }
.copyrigt-wraper:hover{
    text-decoration: underline;
    color: #999;
}
.navFooterCopyright{
    justify-content:center;
    text-align: center;
    color:#DDDDDD;
 display: flex;
 
}
.navFooterCopyright:hover{
    text-decoration: underline;
    color: #999;
}